# Intro to Pandas
by Ryan Orsinger

## Module 5: Working With Files
- More on using `pd.read_csv`
    - HTTP Requests
    - Working with files that use delimiters/separators other than commas
    - Setting the index column
- Writing data with `to_csv`
- Reading JSON
- Reading from Excel files
- Writing to Excel files

In [2]:
import pandas as pd

In [3]:
# read_csv can read from hosted CSV files.
# Pandas sends the http request!
url = "https://gist.githubusercontent.com/ryanorsinger/cc276eea59e8295204d1f581c8da509f/raw/2388559aef7a0700eb31e7604351364b16e99653/mall_customers.csv"
pd.read_csv(url).head()

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
3            4  Female   23             16              77
4            5  Female   31             17              40

In [4]:
# To set the index column, use the index_col argument
# If you notice a column that makes sense to use as the index, you'll need to specic
pd.read_csv(url, index_col="customer_id").head()

             gender  age  annual_income  spending_score
customer_id
1              Male   19             15              39
2              Male   21             15              81
3            Female   20             16               6
4            Female   23             16              77
5            Female   31             17              40

In [15]:
# The ! operator inside of Jupyter Notebooks or iPython issues a command to the terminal
# If you use Windows without the Linux Subsystem enabled, use !dir *.csv
!dir "../datasets/*sales*.csv"

 Volume in drive C is Windows
 Volume Serial Number is 3E94-F918

 Directory of C:\Users\rioca\_anaconda_courses\datasets

12/27/2023  02:50 PM                72 2020_sales.csv
12/27/2023  02:50 PM                72 2021_sales.csv
12/27/2023  02:50 PM                72 2022_sales.csv
12/22/2023  05:28 PM            28,747 movie_genres.csv
12/25/2023  04:39 PM            13,312 mpg.csv
12/25/2023  12:10 PM            15,240 penguins.csv
12/27/2023  05:08 PM               781 quotes.csv
12/25/2023  04:39 PM             7,943 tips.csv
               8 File(s)         66,239 bytes
               0 Dir(s)  781,990,973,440 bytes free

In [21]:
!dir "../datasets/*sales*.csv"

 Volume in drive C is Windows
 Volume Serial Number is 3E94-F918

 Directory of C:\Users\rioca\_anaconda_courses\intro_to_pandas

12/27/2023  08:09 PM                72 2020_sales.csv
12/27/2023  08:09 PM                72 2021_sales.csv
12/27/2023  08:09 PM                72 2022_sales.csv
               3 File(s)            216 bytes
               0 Dir(s)  781,983,408,128 bytes free

In [33]:
sales_files = !dir "../datasets/*sales*.csv"

# Extract just the file names from the dir_output
sales_files = [line.split()[-1] for line in sales_files if line.endswith(".csv")]

sales_files

['2020_sales.csv', '2021_sales.csv', '2022_sales.csv']

In [35]:
# Programmatically Reading Multiple Files 
sales_data = []
for file in sales_files:
    df = pd.read_csv(f"../datasets/{file}")
    sales_data.append(df)
    
sales_df = pd.concat(sales_data, ignore_index=True)
sales_df

   year             items  units
0  2020            trucks     20
1  2020            sedans     15
2  2020  compact vehicles     14
3  2021            trucks     35
4  2021            sedans     30
5  2021  compact vehicles     17
6  2022            trucks     40
7  2022            sedans     31
8  2022  compact vehicles     35

In [36]:
# It's common in the field to combine many different data sources into a single dataframe for cleaning/analysis
# Writing to_csv will write the index values to their own column on the data
sales_df.to_csv("../datasets/all_sales.csv")

In [37]:
!dir "../datasets/*.csv"

 Volume in drive C is Windows
 Volume Serial Number is 3E94-F918

 Directory of C:\Users\rioca\_anaconda_courses\datasets

12/27/2023  02:50 PM                72 2020_sales.csv
12/27/2023  02:50 PM                72 2021_sales.csv
12/27/2023  02:50 PM                72 2022_sales.csv
12/27/2023  11:50 PM               211 all_sales.csv
12/22/2023  05:28 PM            28,747 movie_genres.csv
12/25/2023  04:39 PM            13,312 mpg.csv
12/25/2023  12:10 PM            15,240 penguins.csv
12/27/2023  05:08 PM               781 quotes.csv
12/25/2023  04:39 PM             7,943 tips.csv
               9 File(s)         66,450 bytes
               0 Dir(s)  781,938,380,800 bytes free

In [38]:
# Notice how the left-over column is turned into an unnamed column
pd.read_csv("../datasets/all_sales.csv").head()

   Unnamed: 0  year             items  units
0           0  2020            trucks     20
1           1  2020            sedans     15
2           2  2020  compact vehicles     14
3           3  2021            trucks     35
4           4  2021            sedans     30

In [39]:
# Let's see an example where we avoid this complication by paying more attention to the index
# The index argument on to_csv takes a boolean and defaults to True
sales_df.to_csv("../datasets/all_sales_clean.csv", index=False)

In [40]:
# Notice that the index is regenerated and is appropriate
pd.read_csv("../datasets/all_sales_clean.csv")

   year             items  units
0  2020            trucks     20
1  2020            sedans     15
2  2020  compact vehicles     14
3  2021            trucks     35
4  2021            sedans     30
5  2021  compact vehicles     17
6  2022            trucks     40
7  2022            sedans     31
8  2022  compact vehicles     35

If you use a named index column instead of only the autogenerated index, you will avoid this.

### Note on Separator Characters, called Delimiters
- CSV files use commas to separate values
- You may encounter files that use another delimiter character than a comma
- Tab separated files are common in logfiles and spreadsheet exports
- Sometimes, you may encounter a file extension of .tsv for tab-separated-values
- You may encounter delimiters other than commas or tabs in plain text files.
- Use `pd.read_csv` for them (unless the file is .JSON), and identify the appropriate character

In [ ]:
# The "\t" character is how we specify a tab character
pd.read_csv("penguins_with_tabs.tsv", sep="\t").head()

In [ ]:
# The read_json method can read JSON files from the file system or from URLs.
# This is particularly helpful when consuming data from a RESTful API that returns JSON
curie_quotes = pd.read_json("https://aphorisms.glitch.me/api/example")
curie_quotes

## Example of using `read_clipboard`

|     model |             displ | year |  cyl | trans |        drv |  cty |  hwy |   fl | drv   | class   |
| --------: | ----------------: | ---: | ---: | ----: | ---------: | ---: | ---: | ---: | ----: | ------- |
|      audi |                a4 |  2.0 | 2008 |     4 |   auto(av) |    f |   21 |   30 |     p | compact |
|     dodge | dakota pickup 4wd |  3.9 | 1999 |     6 | manual(m5) |    4 |   14 |   17 |     r | pickup  |
|    toyota |       4runner 4wd |  4.7 | 2008 |     8 |   auto(l5) |    4 |   14 |   17 |     r | suv     |
|     dodge |       caravan 2wd |  3.8 | 2008 |     6 |   auto(l6) |    f |   16 |   23 |     r | minivan |
| chevrolet |            malibu |  3.6 | 2008 |     6 |   auto(s6) |    f |   17 |   26 |     r | midsize |

In [ ]:
# Highlight and copy the table above 
# Then run this cell
df = pd.read_clipboard()
df

In [ ]:
# Writing a dataframe in memory to an excel file
df.to_excel("mpg.xlsx", index=None)

In [ ]:
# Reading an excel file (simple version)
mpg = pd.read_excel("mpg.xlsx")

In [ ]:
mpg

In [ ]:
# Reading a specific sheet from an excel file
pd.read_excel("example_spreadsheet.xlsx", sheet_name="grocery_list")

In [ ]:
# Notice how there's some extra
pd.read_excel("example_spreadsheet.xlsx", sheet_name="pet_info")

In [ ]:
# Sometimes, you may need to open the spreadsheet to identify the columns to skip
pd.read_excel("example_spreadsheet.xlsx", sheet_name="pet_info", skiprows=4)

## Additional Resources
- https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
- https://pandas.pydata.org/docs/reference/api/pandas.read_clipboard.html
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_clipboard.html
- https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html
- Other formats https://pandas.pydata.org/docs/user_guide/io.html
    - SQL
    - XML
    - STATA
    - SAS
    - SPSS